$color1: #8d7b68;
$color2: #a4907c;
$color3: #c8b6a6;
$color4: #f1dec9;

@font-face{
  font-family: 'Barlow';
  src: url('./BarlowSemiCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;

  nav {
    font-family: Barlow, sans-serif;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -50px;
    height: 100%;
    z-index: 1000;

    .vertical-line {
      position: absolute;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: gray;
      opacity: 0.5;
    }
    .container {
      height: 100vh;
      
      
      .nav-menu-item {
        .nav-line {
          position: absolute;
          width: 2px;
          background-color: green;
          opacity: 0; 
          height: 100%;
          border-radius: 12px;
          right: calc(50% - 1.5px);
          transition: all 0.5s;
        }
        .left {
          width: 100%;
          text-align: end;
          padding-right: 10px;
        }
        .right {
          width: 100%;
          padding-left: 10px;
        }
        .circle{
          position:absolute;
          bottom:-3px;
          right:calc(50% - 3.5px);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: rgb(197, 196, 196);
          z-index: 2;
        }
        a{
          text-decoration: none;
          color: rgb(39, 39, 39);
          font-size: 14px;
          font-weight: 700;
          opacity: 0.8;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: calc((100% - 200px) / 5);
        width: 220px;
        position:relative;

      }
      .nav-menu-item-separator {
        height: 100px;
        width: 100%;
        text-align: center;
      }
      .nav-menu-item-separator:first-child {
        position: relative;
        img {
          width: 13px;
          height: 13px;
          position: absolute;
          bottom: -12px;
          right: calc(50% - 7px);
          z-index: 2;
        }
      }
      .nav-menu-item-separator:last-child {
        position: relative;
        img {
          position: absolute;
          top: -12px;
          width: 13px;
          height: 13px;
          right: calc(50% - 7px);
        }
      }
    }
  }

  section {
    width: 100%;
    height: 100vh;
  }

  .projects {
    height: 300vh;
    .sticky {
      position: sticky;
      overflow: hidden;
      top: 0;
      height: 100vh;
      .scroll-section {
        position: absolute;
        top: 0;
        height: 100%;
        width: 300vw;
        will-change: transform;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 5vw;
      }
    }
  }
  .hello {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1440px;
      .left,
      .right {
        display: flex;
        justify-content: center;
        height: 100%;
      }
      .left {
        flex-direction: column;
        align-items: center;
        width: 40%;
        padding-left: 31px;
        text-align: center;
        gap: 12px;
        h1 {
          margin-top: 70px;
          font-size: 40px;
          color: $color1;
        }
        h3 {
          color: $color2;
        }
        .dot {
          width: 3px;
          height: 3px;
          background-color: $color1;
          border-radius: 50%;
        }
        .proffesion {
          font-size: 32px;
          color: $color1;
          font-weight: 700;
          font-style: italic;

          font-size: 20px;
        }
      }
      .right {
        width: 60%;
        align-items: center;
        height: fit-content;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

//global styles START
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//global styles END

// scroll bar START
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #c8b6a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color1;
}

::-webkit-scrollbar-track {
  background-color: $color4;
}
// scroll bar END

// media queries START
@media screen and (max-width: 768px) {
  body {
    .hello {
      padding-top: 0;
      height: auto !important;
      padding-bottom: 20px;
      width: 100% !important;
      .container {
        width: 100% !important;
        flex-direction: column-reverse;
        padding: 0 20px !important;
        height: 100%;
        gap: 0;
        align-items: center;
        margin-top: 70px !important;

        .left {
          width: 90% !important;
          padding-left: 0px !important;
          justify-content: flex-start !important;
          margin-top: 15px;
          height: 50% !important;
        }
        .right {
          width: 70% !important;
          img {
            width: 100% !important;
          }
        }
        h3 {
          width: 100% !important;
        }
        h1 {
          margin-top: 0px !important;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  section {
    .container {
      width: 768px !important;
    }
  }
}

@media (min-width: 1440px) {
  section {
    .container {
      width: 1440px !important;
    }
  }
}
// media queries END
