@font-face {
  font-family: "Barlow";
  src: url("./BarlowSemiCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Playfair";
  src: url("./PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat-VariableFont_wght.ttf") format("truetype");
}
body {
  width: 100%;
  height: 100%;
}
body nav {
  font-family: Barlow, sans-serif;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: -50px;
  height: 100%;
  z-index: 1000;
}
body nav .hamburger-menu {
  display: none;
  position: absolute;
  right: 80px;
  top: 80px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 40px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 3;
  transition: all 0.5s;
}
body nav .hamburger-menu .line {
  height: 4px;
  width: 80%;
  background-color: #45a29e;
  border-radius: 5px;
  transition: all 0.4s;
}
body nav .vertical-line {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: gray;
  opacity: 0.5;
  z-index: 1;
}
body nav .container {
  height: 100vh;
}
body nav .container .nav-menu-item {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc((100% - 160px) / 5);
  width: 220px;
  position: relative;
}
body nav .container .nav-menu-item .nav-line {
  position: absolute;
  width: 2px;
  background-color: #66fcf1;
  opacity: 0;
  height: 100%;
  border-radius: 12px;
  right: calc(50% - 1.5px);
  transition: all 0.5s;
}
body nav .container .nav-menu-item span {
  color: white;
}
body nav .container .nav-menu-item .left {
  width: 100%;
  text-align: end;
  padding-right: 10px;
  position: relative;
  left: 40px;
  z-index: 2;
  transition: all 0.5s;
}
body nav .container .nav-menu-item .left span {
  transition: all 0.5s;
}
@media (hover: hover) {
  body nav .container .nav-menu-item .left:has(a:hover) + .right {
    opacity: 1 !important;
  }
  body nav .container .nav-menu-item .left a:hover span:nth-child(1) {
    transform: translateY(-4px);
  }
  body nav .container .nav-menu-item .left a:hover span:nth-child(2) {
    transform: translateY(4px);
  }
}
body nav .container .nav-menu-item .right {
  width: 100%;
  padding-left: 10px;
  position: relative;
  left: 40px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
body nav .container .nav-menu-item .circle {
  position: absolute;
  bottom: -3px;
  right: calc(50% - 3.5px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(197, 196, 196);
  z-index: 3 !important;
}
body nav .container .nav-menu-item a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  height: 30px;
  padding: 0 5px;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
body nav .container .nav-menu-item a span {
  display: inline-block;
}
body nav .container .nav-menu-item-separator {
  height: 80px;
  width: 100%;
  text-align: center;
  position: relative;
}
body nav .container .nav-menu-item-separator .horizontal {
  transform: rotate(90deg);
}
body nav .container .nav-menu-item-separator .horizontal,
body nav .container .nav-menu-item-separator .vertical {
  width: 2px;
  height: 7px;
  background-color: rgb(197, 196, 196);
  position: absolute;
  left: calc(50% - 0.5px);
}
body nav .container .nav-menu-item-separator:first-child .horizontal,
body nav .container .nav-menu-item-separator:first-child .vertical {
  bottom: 0;
}
body nav .container .nav-menu-item-separator:last-child .horizontal,
body nav .container .nav-menu-item-separator:last-child .vertical {
  top: 0;
}
body section {
  background-color: #0b0c10;
  color: white;
  width: 100%;
  height: 100vh;
}
body .projects {
  height: 300vh;
}
body .projects .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}
body .projects .sticky .scroll-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 300vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
}
body .hello {
  background-image: url("background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
body .hello .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  text-align: center;
  color: white;
}
body .hello .container h1 {
  color: #66fcf1;
  font-size: 120px;
  font-weight: 700;
}
body .hello .container h2,
body .hello .container h3 {
  white-space: nowrap;
}
body .hello .container h2 {
  font-size: 38px;
}
body .hello .container h3 {
  color: darkgray;
  font-size: 32px;
  font-style: italic;
  font-weight: 200;
}
body .hello .container h4 {
  font-family: "Playfair", sans-serif;
  padding: 10px 0;
  font-size: 20px;
  color: white;
  text-align: left;
  padding-left: 12px;
  opacity: 0;
}
body .hello .container h4::before {
  content: ">";
  height: 100%;
  font-size: 40px;
  color: #66fcf1;
  position: relative;
  top: 6px;
  margin-right: 10px;
}
body .hello .container .line1 {
  transition: all 0.2s;
}
body .hello .container .line2 {
  transition: all 0.7s;
}
body .hello .container .line3 {
  transition: all 1.2s;
}
body .hello .container .line3:after {
  content: "";
  width: 14px;
  height: 2px;
  background: #66fcf1;
  opacity: 0;
  display: inline-block;
  animation: blink 0.5s linear infinite alternate;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body .skills {
  background-image: url("background2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: "Barlow", sans-serif;
  height: auto;
}
body .skills .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  min-height: 100vh;
}
body .skills .card {
  background: #287bff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  border-radius: 20px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  box-shadow: 0 15px 0 #c5c6c7, inset 0 -15px 0 rgba(255, 255, 255, 0.24), 0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transform: translateX(-100vw);
}
body .skills .card .icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: #0b0c10;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 15px 0 rgba(0, 0, 0, 0.1), inset 0 -8px 0 #c5c6c7;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body .skills .card .icon img {
  color: #fff;
  position: relative;
  z-index: 1;
  width: 96px;
  height: 96px;
  filter: invert(97%) sepia(0%) saturate(7500%) hue-rotate(25deg) brightness(105%) contrast(99%);
}
body .skills .card .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #0b0c10;
}
body .skills .card .icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #0b0c10;
}
body .skills .card .content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 150px;
  text-align: center;
}
body .skills .card .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 15px;
}
body .skills .card .content p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}
body .skills .card .content .dot {
  background-color: #fff;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
}
body .skills .card::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  padding: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}
body .skills .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
body .skills .card:nth-child(1) {
  background-image: linear-gradient(to bottom, #0b0c10, #45a29e);
  transition: all 0.5s;
}
body .skills .card:nth-child(1)::after {
  background-image: linear-gradient(to bottom, #0b0c10, #66fcf1);
}
body .skills .card:nth-child(1):hover::after {
  opacity: 0.3;
}
body .skills .card:nth-child(2) {
  background: linear-gradient(to bottom, #1f2833, #45a29e);
  transition: all 0.8s;
}
body .skills .card:nth-child(2)::after {
  background-image: linear-gradient(to bottom, #1f2833, #66fcf1);
}
body .skills .card:nth-child(2):hover::after {
  opacity: 0.3;
}
body .skills .card:nth-child(3) {
  background: linear-gradient(to bottom, #c5c6c7, #45a29e);
  transition: all 1.3s;
}
body .skills .card:nth-child(3)::after {
  background-image: linear-gradient(to bottom, #c5c6c7, #66fcf1);
}
body .skills .card:nth-child(3):hover::after {
  opacity: 0.3;
}
body .contact {
  font-family: "Montserrat";
  height: 400px;
  display: flex;
  justify-content: center;
}
body .contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  opacity: 0;
  transition: all 1s;
}
body .contact .container a {
  text-decoration: none;
  color: white;
}
body .contact .container h2 {
  text-align: center;
}
body .contact .container .cv {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
}
body .contact .container .cv:hover {
  background-color: #66fcf1;
  color: #1f2833;
  border-color: black;
}
body .contact .container .email {
  font-style: italic;
  font-weight: bold;
  color: #66fcf1;
}
body .contact .container img {
  width: 48px;
  height: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #45a29e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66fcf1;
}

::-webkit-scrollbar-track {
  background-color: #0b0c10;
}

@media (max-width: 800px) {
  body .hello .container {
    width: 80vw;
  }
  body .hello .container h1 {
    font-size: 20vw;
  }
  body .hello .container h2 {
    font-size: 6vw;
  }
  body .hello .container h3 {
    font-size: 5vw;
  }
  body .hello .container h4 {
    font-size: 3.5vw;
  }
}
@media (max-width: 768px) {
  body nav {
    z-index: 1;
  }
  body nav .items {
    position: absolute;
    background-color: #0b0c10;
    height: 100%;
    width: 260px;
    z-index: 1;
    transition: all 0.5s;
    transform: translateX(-220px);
    border-right: 1px solid #c5c6c7;
  }
  body nav .container {
    transform: translateX(-220px);
    transition: all 0.5s;
    z-index: 3;
  }
  body nav .container .nav-menu-item .right {
    opacity: 1 !important;
    pointer-events: all !important;
  }
  body nav .vertical-line {
    transform: translateX(-220px);
    transition: all 0.5s;
    z-index: 2;
  }
  body nav .hamburger-menu {
    display: flex;
    z-index: 4;
  }
}
@media (max-width: 460px) {
  body .skills .container {
    padding: 20px;
  }
  body .skills .container .card {
    margin: 40px 0;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
}/*# sourceMappingURL=style.css.map */