$color1: #8d7b68;
$color2: #a4907c;
$color3: #c8b6a6;
$color4: #f1dec9;

body {
  width: 100%;
  height: 100%;

  .mobile{
    display: none;
  }
  .web {
    z-index: 2;
    width: 100%;
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    height: 70px;
    position: fixed;
    transition: all 0.3s;

    .container {
      flex-direction: row;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding: 0 20px;
      background-color: $color1;

      .logo {
        font-size: 26px;
        color: $color4;
        font-weight: 700;
      }
      .left {
        display: flex;
        align-items: center;
        .vertical-line {
          height: 30px;
          width: 1px;
          background-color: $color3;
        }
      }
      .right {
        display: flex;
      }
      a {
        text-decoration: none;
        color: $color4;
        margin: 0 10px;
        font-size: 20px;
        line-height: 20px;
        display: inline-block;
        padding: 2px;
      }
      .link:hover {
        position: relative;
        a {
          color: $color3;
        }
        .cross-line {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 10%;
          width: 80%;
          height: 3px;
          background-color: $color1;
          transition: all 0.3s;
        }
      }
    }
  }
  .about {
    padding-top: 70px;
  }

  section {
    background-color: $color4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .projects {
    height: 300vh;
    .sticky {
      position: sticky;
      overflow: hidden;
      top: 0;
      height: 100vh;
      .scroll-section {
        position: absolute;
        top: 0;
        height: 100%;
        width: 300vw;
        will-change: transform;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 5vw;
      }
    }
  }

  .about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    .left,
    .right {
      display: flex;
      justify-content: center;
      height: 100%;
    }
    .left {
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding-left: 31px;
      text-align: center;
      gap: 12px;
      h1 {
        margin-top: 70px;
        font-size: 40px;
        color: $color1;
      }
      h3 {
        color: $color2;
      }
      .dot {
        width: 3px;
        height: 3px;
        background-color: $color1;
        border-radius: 50%;
      }
      .proffesion {
        font-size: 32px;
        color: $color1;
        font-weight: 700;
        font-style: italic;

        font-size: 20px;
      }
    }
    .right {
      width: 60%;
      align-items: center;
      height: fit-content;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #c8b6a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color1;
}

::-webkit-scrollbar-track {
  background-color: $color4;
}

@media screen and (max-width: 768px) {
  body {
    .web {
      display: none;
    }
    .mobile{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      height: 70px;
      background-color: $color1;
      .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      a{
        text-decoration: none;
        color: $color4;
        font-size: 26px;
        font-weight: 700;
        padding: 0 10px;
      }
      .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20px;
        width: 28px;
        margin-right: 10px;
        // background-color: red;
        .line{
          height: 3px;
          width: 100%;
          background-color: $color4;
          border-radius: 5px;
        }
      }
    }
    .about{
      padding-top: 0;
      height: auto !important;
      padding-bottom: 20px;
    }
    .about .container {
      flex-direction: column-reverse;
      padding: 0 20px !important;
      height: 100%;
      gap:0;
      align-items: center;
      .left {
        width: 100% !important;
        padding-left: 0px !important;
        justify-content: flex-start !important;
        margin-top: 15px;
        height: 50% !important;
      }
      .right {
        width: 100% !important;
        img{
          width: 81% !important;
        }
      }
      h3 {
        width: 100% !important;
      }
      h1 {
        margin-top: 0px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  section,
  .web {
    .container {
      width: 768px !important;
    }
  }
}

@media (min-width: 1440px) {
  section,
  .web {
    .container {
      width: 1440px !important;
    }
  }
}
