body {
  width: 100%;
  height: 100%;
}
body .mobile {
  display: none;
}
body .web {
  z-index: 2;
  width: 100%;
  background-color: #8d7b68;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  height: 70px;
  position: fixed;
  transition: all 0.3s;
}
body .web .container {
  flex-direction: row;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8d7b68;
}
body .web .container .logo {
  font-size: 26px;
  color: #f1dec9;
  font-weight: 700;
}
body .web .container .left {
  display: flex;
  align-items: center;
}
body .web .container .left .vertical-line {
  height: 30px;
  width: 1px;
  background-color: #c8b6a6;
}
body .web .container .right {
  display: flex;
}
body .web .container a {
  text-decoration: none;
  color: #f1dec9;
  margin: 0 10px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  padding: 2px;
}
body .web .container .link:hover {
  position: relative;
}
body .web .container .link:hover a {
  color: #c8b6a6;
}
body .web .container .link:hover .cross-line {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: #8d7b68;
  transition: all 0.3s;
}
body .about {
  padding-top: 70px;
}
body section {
  background-color: #f1dec9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .projects {
  height: 300vh;
}
body .projects .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}
body .projects .sticky .scroll-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 300vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5vw;
}
body .about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
body .about .container .left,
body .about .container .right {
  display: flex;
  justify-content: center;
  height: 100%;
}
body .about .container .left {
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-left: 31px;
  text-align: center;
  gap: 12px;
}
body .about .container .left h1 {
  margin-top: 70px;
  font-size: 40px;
  color: #8d7b68;
}
body .about .container .left h3 {
  color: #a4907c;
}
body .about .container .left .dot {
  width: 3px;
  height: 3px;
  background-color: #8d7b68;
  border-radius: 50%;
}
body .about .container .left .proffesion {
  font-size: 32px;
  color: #8d7b68;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}
body .about .container .right {
  width: 60%;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
body .about .container img {
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #c8b6a6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d7b68;
}

::-webkit-scrollbar-track {
  background-color: #f1dec9;
}

@media screen and (max-width: 768px) {
  body .web {
    display: none;
  }
  body .mobile {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8d7b68;
    overflow: hidden;
  }
  body .hamburger-menu {
    display: flex;
    background-color: #c8b6a6;
    width: 100%;
    height: 0px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s;
    overflow: hidden;
    padding: 0;
  }
  body .hamburger-menu a {
    text-decoration: none;
    color: #8d7b68;
    font-size: 22px;
    font-weight: 700;
    padding: 0 10px;
  }
  body .mobile .container {
    transition: all 0.3s;
  }
  body .mobile .container .inner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    transition: all 0.3s;
  }
  body .mobile .container .inner-container .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .mobile .container .inner-container a {
    text-decoration: none;
    color: #f1dec9;
    font-size: 26px;
    font-weight: 700;
    padding: 0 10px;
  }
  body .mobile .container .inner-container .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 28px;
    margin-right: 10px;
  }
  body .mobile .container .inner-container .hamburger .line {
    height: 3px;
    width: 100%;
    background-color: #f1dec9;
    border-radius: 5px;
  }
  body .about {
    padding-top: 0;
    height: auto !important;
    padding-bottom: 20px;
  }
  body .about .container {
    flex-direction: column-reverse;
    padding: 0 20px !important;
    height: 100%;
    gap: 0;
    align-items: center;
    margin-top: 70px !important;
  }
  body .about .container .left {
    width: 100% !important;
    padding-left: 0px !important;
    justify-content: flex-start !important;
    margin-top: 15px;
    height: 50% !important;
  }
  body .about .container .right {
    width: 100% !important;
  }
  body .about .container .right img {
    width: 81% !important;
  }
  body .about .container h3 {
    width: 100% !important;
  }
  body .about .container h1 {
    margin-top: 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  section .container,
  .web .container {
    width: 768px !important;
  }
}
@media (min-width: 1440px) {
  section .container,
  .web .container {
    width: 1440px !important;
  }
}/*# sourceMappingURL=style.css.map */